.box {
  padding: 1em;
  text-align: start;
  color: #fff;
}

h1 {
  margin: 0;
  word-break: break-all;
}

.name {
  font-weight: 300;
}

.box p {
  margin: 3em 0;
  text-align: justify;
}

hr {
  height: 0.15em;
  background-color: rgb(180, 180, 180);
  border-left: 2em solid #fff;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  h1 {
    font-size: 1.7em;
  }

  h6 {
    margin-top: 0.7em;
    font-size: 0.9em;
  }

  h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 1.7em;
  }

  h6 {
    margin-top: 0.7em;
    font-size: 0.9em;
  }

  h5 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1599px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1600px) {
  .box {
    padding: 1.5em;
  }

  h1 {
    font-size: 3.5em;
  }
}
